Java Projects/J2EEProjectsAN/ProductSOAPServer/WebContent/wsdl/ProductServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.training.ameex.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.training.ameex.com" xmlns:intf="http://service.training.ameex.com" xmlns:tns1="http://business.training.ameex.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.training.ameex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://business.training.ameex.com"/>
   <element name="addProduct">
    <complexType>
     <sequence>
      <element name="product" type="tns1:Product"/>
     </sequence>
    </complexType>
   </element>
   <element name="addProductResponse">
    <complexType>
     <sequence>
      <element name="addProductReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteProduct">
    <complexType>
     <sequence>
      <element name="product" type="tns1:Product"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteProductResponse">
    <complexType>
     <sequence>
      <element name="deleteProductReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="findProduct">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="findProductResponse">
    <complexType>
     <sequence>
      <element name="findProductReturn" type="tns1:Product"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateProduct">
    <complexType>
     <sequence>
      <element name="product" type="tns1:Product"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateProductResponse">
    <complexType>
     <sequence>
      <element name="updateProductReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://business.training.ameex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Product">
    <sequence>
     <element name="discount" type="xsd:double"/>
     <element name="id" type="xsd:int"/>
     <element name="manufacturedDate" nillable="true" type="xsd:dateTime"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="price" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addProductRequest">

      <wsdl:part element="impl:addProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateProductRequest">

      <wsdl:part element="impl:updateProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addProductResponse">

      <wsdl:part element="impl:addProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findProductResponse">

      <wsdl:part element="impl:findProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteProductRequest">

      <wsdl:part element="impl:deleteProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateProductResponse">

      <wsdl:part element="impl:updateProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteProductResponse">

      <wsdl:part element="impl:deleteProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findProductRequest">

      <wsdl:part element="impl:findProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProductServiceImpl">

      <wsdl:operation name="addProduct">

         <wsdl:input message="impl:addProductRequest" name="addProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:addProductResponse" name="addProductResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteProduct">

         <wsdl:input message="impl:deleteProductRequest" name="deleteProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteProductResponse" name="deleteProductResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findProduct">

         <wsdl:input message="impl:findProductRequest" name="findProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:findProductResponse" name="findProductResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateProduct">

         <wsdl:input message="impl:updateProductRequest" name="updateProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateProductResponse" name="updateProductResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProductServiceImplSoapBinding" type="impl:ProductServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProductServiceImplService">

      <wsdl:port binding="impl:ProductServiceImplSoapBinding" name="ProductServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/ProductSOAPServer/services/ProductServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
