Java Projects/J2EEProjectsAN/SOAPWebServiceDemo/WebContent/wsdl/BankServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.training.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.training.com" xmlns:intf="http://service.training.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.training.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getSum">
    <complexType>
     <sequence>
      <element name="x" type="xsd:int"/>
      <element name="y" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSumResponse">
    <complexType>
     <sequence>
      <element name="getSumReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSumResponse">

      <wsdl:part element="impl:getSumResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSumRequest">

      <wsdl:part element="impl:getSum" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BankServiceImpl">

      <wsdl:operation name="getSum">

         <wsdl:input message="impl:getSumRequest" name="getSumRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSumResponse" name="getSumResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankServiceImplSoapBinding" type="impl:BankServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSum">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSumRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSumResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankServiceImplService">

      <wsdl:port binding="impl:BankServiceImplSoapBinding" name="BankServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/SOAPWebServiceDemo/services/BankServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
